.card{
    
    /* border: 1px solid red; */
    background-color: green;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 0;
    border-radius: 50%;
    
    
}